<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.douyuehan.doubao.mapper.BmsTipMapper">
    <select id="getRandomTip" resultType="com.douyuehan.doubao.model.entity.BmsTip">
        select *
        from bms_tip
        order by rand()
        limit 1
    </select>
</mapper>
